$close-name: 'close';
$close-x: 925px;
$close-y: 131px;
$close-offset-x: -925px;
$close-offset-y: -131px;
$close-width: 36px;
$close-height: 36px;
$close-total-width: 989px;
$close-total-height: 935px;
$close-image: '../images/sprite.png';
$close: (925px, 131px, -925px, -131px, 36px, 36px, 989px, 935px, '../images/sprite.png', 'close', );
$danger-1-name: 'danger-1';
$danger-1-x: 311px;
$danger-1-y: 577px;
$danger-1-offset-x: -311px;
$danger-1-offset-y: -577px;
$danger-1-width: 89px;
$danger-1-height: 93px;
$danger-1-total-width: 989px;
$danger-1-total-height: 935px;
$danger-1-image: '../images/sprite.png';
$danger-1: (311px, 577px, -311px, -577px, 89px, 93px, 989px, 935px, '../images/sprite.png', 'danger-1', );
$danger-2-name: 'danger-2';
$danger-2-x: 99px;
$danger-2-y: 577px;
$danger-2-offset-x: -99px;
$danger-2-offset-y: -577px;
$danger-2-width: 110px;
$danger-2-height: 114px;
$danger-2-total-width: 989px;
$danger-2-total-height: 935px;
$danger-2-image: '../images/sprite.png';
$danger-2: (99px, 577px, -99px, -577px, 110px, 114px, 989px, 935px, '../images/sprite.png', 'danger-2', );
$danger-3-name: 'danger-3';
$danger-3-x: 209px;
$danger-3-y: 577px;
$danger-3-offset-x: -209px;
$danger-3-offset-y: -577px;
$danger-3-width: 102px;
$danger-3-height: 94px;
$danger-3-total-width: 989px;
$danger-3-total-height: 935px;
$danger-3-image: '../images/sprite.png';
$danger-3: (209px, 577px, -209px, -577px, 102px, 94px, 989px, 935px, '../images/sprite.png', 'danger-3', );
$danger-4-name: 'danger-4';
$danger-4-x: 0px;
$danger-4-y: 704px;
$danger-4-offset-x: 0px;
$danger-4-offset-y: -704px;
$danger-4-width: 72px;
$danger-4-height: 131px;
$danger-4-total-width: 989px;
$danger-4-total-height: 935px;
$danger-4-image: '../images/sprite.png';
$danger-4: (0px, 704px, 0px, -704px, 72px, 131px, 989px, 935px, '../images/sprite.png', 'danger-4', );
$danger-5-name: 'danger-5';
$danger-5-x: 0px;
$danger-5-y: 577px;
$danger-5-offset-x: 0px;
$danger-5-offset-y: -577px;
$danger-5-width: 99px;
$danger-5-height: 127px;
$danger-5-total-width: 989px;
$danger-5-total-height: 935px;
$danger-5-image: '../images/sprite.png';
$danger-5: (0px, 577px, 0px, -577px, 99px, 127px, 989px, 935px, '../images/sprite.png', 'danger-5', );
$danger-6-name: 'danger-6';
$danger-6-x: 0px;
$danger-6-y: 0px;
$danger-6-offset-x: 0px;
$danger-6-offset-y: 0px;
$danger-6-width: 989px;
$danger-6-height: 131px;
$danger-6-total-width: 989px;
$danger-6-total-height: 935px;
$danger-6-image: '../images/sprite.png';
$danger-6: (0px, 0px, 0px, 0px, 989px, 131px, 989px, 935px, '../images/sprite.png', 'danger-6', );
$gears-name: 'gears';
$gears-x: 880px;
$gears-y: 131px;
$gears-offset-x: -880px;
$gears-offset-y: -131px;
$gears-width: 45px;
$gears-height: 45px;
$gears-total-width: 989px;
$gears-total-height: 935px;
$gears-image: '../images/sprite.png';
$gears: (880px, 131px, -880px, -131px, 45px, 45px, 989px, 935px, '../images/sprite.png', 'gears', );
$logo-mosreg-name: 'logo-mosreg';
$logo-mosreg-x: 72px;
$logo-mosreg-y: 704px;
$logo-mosreg-offset-x: -72px;
$logo-mosreg-offset-y: -704px;
$logo-mosreg-width: 92px;
$logo-mosreg-height: 99px;
$logo-mosreg-total-width: 989px;
$logo-mosreg-total-height: 935px;
$logo-mosreg-image: '../images/sprite.png';
$logo-mosreg: (72px, 704px, -72px, -704px, 92px, 99px, 989px, 935px, '../images/sprite.png', 'logo-mosreg', );
$logo-name: 'logo';
$logo-x: 830px;
$logo-y: 328px;
$logo-offset-x: -830px;
$logo-offset-y: -328px;
$logo-width: 134px;
$logo-height: 47px;
$logo-total-width: 989px;
$logo-total-height: 935px;
$logo-image: '../images/sprite.png';
$logo: (830px, 328px, -830px, -328px, 134px, 47px, 989px, 935px, '../images/sprite.png', 'logo', );
$more-link-1-name: 'more-link-1';
$more-link-1-x: 0px;
$more-link-1-y: 835px;
$more-link-1-offset-x: 0px;
$more-link-1-offset-y: -835px;
$more-link-1-width: 69px;
$more-link-1-height: 100px;
$more-link-1-total-width: 989px;
$more-link-1-total-height: 935px;
$more-link-1-image: '../images/sprite.png';
$more-link-1: (0px, 835px, 0px, -835px, 69px, 100px, 989px, 935px, '../images/sprite.png', 'more-link-1', );
$more-link-2-name: 'more-link-2';
$more-link-2-x: 358px;
$more-link-2-y: 452px;
$more-link-2-offset-x: -358px;
$more-link-2-offset-y: -452px;
$more-link-2-width: 124px;
$more-link-2-height: 105px;
$more-link-2-total-width: 989px;
$more-link-2-total-height: 935px;
$more-link-2-image: '../images/sprite.png';
$more-link-2: (358px, 452px, -358px, -452px, 124px, 105px, 989px, 935px, '../images/sprite.png', 'more-link-2', );
$more-link-3-name: 'more-link-3';
$more-link-3-x: 844px;
$more-link-3-y: 452px;
$more-link-3-offset-x: -844px;
$more-link-3-offset-y: -452px;
$more-link-3-width: 111px;
$more-link-3-height: 88px;
$more-link-3-total-width: 989px;
$more-link-3-total-height: 935px;
$more-link-3-image: '../images/sprite.png';
$more-link-3: (844px, 452px, -844px, -452px, 111px, 88px, 989px, 935px, '../images/sprite.png', 'more-link-3', );
$stories-buble-1-hover-name: 'stories-buble-1-hover';
$stories-buble-1-hover-x: 0px;
$stories-buble-1-hover-y: 328px;
$stories-buble-1-hover-offset-x: 0px;
$stories-buble-1-hover-offset-y: -328px;
$stories-buble-1-hover-width: 190px;
$stories-buble-1-hover-height: 124px;
$stories-buble-1-hover-total-width: 989px;
$stories-buble-1-hover-total-height: 935px;
$stories-buble-1-hover-image: '../images/sprite.png';
$stories-buble-1-hover: (0px, 328px, 0px, -328px, 190px, 124px, 989px, 935px, '../images/sprite.png', 'stories-buble-1-hover', );
$stories-buble-1-name: 'stories-buble-1';
$stories-buble-1-x: 190px;
$stories-buble-1-y: 328px;
$stories-buble-1-offset-x: -190px;
$stories-buble-1-offset-y: -328px;
$stories-buble-1-width: 190px;
$stories-buble-1-height: 124px;
$stories-buble-1-total-width: 989px;
$stories-buble-1-total-height: 935px;
$stories-buble-1-image: '../images/sprite.png';
$stories-buble-1: (190px, 328px, -190px, -328px, 190px, 124px, 989px, 935px, '../images/sprite.png', 'stories-buble-1', );
$stories-buble-2-hover-name: 'stories-buble-2-hover';
$stories-buble-2-hover-x: 680px;
$stories-buble-2-hover-y: 328px;
$stories-buble-2-hover-offset-x: -680px;
$stories-buble-2-hover-offset-y: -328px;
$stories-buble-2-hover-width: 150px;
$stories-buble-2-hover-height: 48px;
$stories-buble-2-hover-total-width: 989px;
$stories-buble-2-hover-total-height: 935px;
$stories-buble-2-hover-image: '../images/sprite.png';
$stories-buble-2-hover: (680px, 328px, -680px, -328px, 150px, 48px, 989px, 935px, '../images/sprite.png', 'stories-buble-2-hover', );
$stories-buble-2-name: 'stories-buble-2';
$stories-buble-2-x: 730px;
$stories-buble-2-y: 131px;
$stories-buble-2-offset-x: -730px;
$stories-buble-2-offset-y: -131px;
$stories-buble-2-width: 150px;
$stories-buble-2-height: 48px;
$stories-buble-2-total-width: 989px;
$stories-buble-2-total-height: 935px;
$stories-buble-2-image: '../images/sprite.png';
$stories-buble-2: (730px, 131px, -730px, -131px, 150px, 48px, 989px, 935px, '../images/sprite.png', 'stories-buble-2', );
$stories-buble-3-hover-name: 'stories-buble-3-hover';
$stories-buble-3-hover-x: 430px;
$stories-buble-3-hover-y: 205px;
$stories-buble-3-hover-offset-x: -430px;
$stories-buble-3-hover-offset-y: -205px;
$stories-buble-3-hover-width: 253px;
$stories-buble-3-hover-height: 95px;
$stories-buble-3-hover-total-width: 989px;
$stories-buble-3-hover-total-height: 935px;
$stories-buble-3-hover-image: '../images/sprite.png';
$stories-buble-3-hover: (430px, 205px, -430px, -205px, 253px, 95px, 989px, 935px, '../images/sprite.png', 'stories-buble-3-hover', );
$stories-buble-3-name: 'stories-buble-3';
$stories-buble-3-x: 683px;
$stories-buble-3-y: 205px;
$stories-buble-3-offset-x: -683px;
$stories-buble-3-offset-y: -205px;
$stories-buble-3-width: 253px;
$stories-buble-3-height: 95px;
$stories-buble-3-total-width: 989px;
$stories-buble-3-total-height: 935px;
$stories-buble-3-image: '../images/sprite.png';
$stories-buble-3: (683px, 205px, -683px, -205px, 253px, 95px, 989px, 935px, '../images/sprite.png', 'stories-buble-3', );
$stories-buble-4-hover-name: 'stories-buble-4-hover';
$stories-buble-4-hover-x: 179px;
$stories-buble-4-hover-y: 452px;
$stories-buble-4-hover-offset-x: -179px;
$stories-buble-4-hover-offset-y: -452px;
$stories-buble-4-hover-width: 179px;
$stories-buble-4-hover-height: 125px;
$stories-buble-4-hover-total-width: 989px;
$stories-buble-4-hover-total-height: 935px;
$stories-buble-4-hover-image: '../images/sprite.png';
$stories-buble-4-hover: (179px, 452px, -179px, -452px, 179px, 125px, 989px, 935px, '../images/sprite.png', 'stories-buble-4-hover', );
$stories-buble-4-name: 'stories-buble-4';
$stories-buble-4-x: 0px;
$stories-buble-4-y: 452px;
$stories-buble-4-offset-x: 0px;
$stories-buble-4-offset-y: -452px;
$stories-buble-4-width: 179px;
$stories-buble-4-height: 125px;
$stories-buble-4-total-width: 989px;
$stories-buble-4-total-height: 935px;
$stories-buble-4-image: '../images/sprite.png';
$stories-buble-4: (0px, 452px, 0px, -452px, 179px, 125px, 989px, 935px, '../images/sprite.png', 'stories-buble-4', );
$stories-buble-5-hover-name: 'stories-buble-5-hover';
$stories-buble-5-hover-x: 215px;
$stories-buble-5-hover-y: 205px;
$stories-buble-5-hover-offset-x: -215px;
$stories-buble-5-hover-offset-y: -205px;
$stories-buble-5-hover-width: 215px;
$stories-buble-5-hover-height: 123px;
$stories-buble-5-hover-total-width: 989px;
$stories-buble-5-hover-total-height: 935px;
$stories-buble-5-hover-image: '../images/sprite.png';
$stories-buble-5-hover: (215px, 205px, -215px, -205px, 215px, 123px, 989px, 935px, '../images/sprite.png', 'stories-buble-5-hover', );
$stories-buble-5-name: 'stories-buble-5';
$stories-buble-5-x: 0px;
$stories-buble-5-y: 205px;
$stories-buble-5-offset-x: 0px;
$stories-buble-5-offset-y: -205px;
$stories-buble-5-width: 215px;
$stories-buble-5-height: 123px;
$stories-buble-5-total-width: 989px;
$stories-buble-5-total-height: 935px;
$stories-buble-5-image: '../images/sprite.png';
$stories-buble-5: (0px, 205px, 0px, -205px, 215px, 123px, 989px, 935px, '../images/sprite.png', 'stories-buble-5', );
$stories-buble-6-hover-name: 'stories-buble-6-hover';
$stories-buble-6-hover-x: 414px;
$stories-buble-6-hover-y: 131px;
$stories-buble-6-hover-offset-x: -414px;
$stories-buble-6-hover-offset-y: -131px;
$stories-buble-6-hover-width: 158px;
$stories-buble-6-hover-height: 58px;
$stories-buble-6-hover-total-width: 989px;
$stories-buble-6-hover-total-height: 935px;
$stories-buble-6-hover-image: '../images/sprite.png';
$stories-buble-6-hover: (414px, 131px, -414px, -131px, 158px, 58px, 989px, 935px, '../images/sprite.png', 'stories-buble-6-hover', );
$stories-buble-6-name: 'stories-buble-6';
$stories-buble-6-x: 572px;
$stories-buble-6-y: 131px;
$stories-buble-6-offset-x: -572px;
$stories-buble-6-offset-y: -131px;
$stories-buble-6-width: 158px;
$stories-buble-6-height: 58px;
$stories-buble-6-total-width: 989px;
$stories-buble-6-total-height: 935px;
$stories-buble-6-image: '../images/sprite.png';
$stories-buble-6: (572px, 131px, -572px, -131px, 158px, 58px, 989px, 935px, '../images/sprite.png', 'stories-buble-6', );
$stories-people-1-name: 'stories-people-1';
$stories-people-1-x: 164px;
$stories-people-1-y: 704px;
$stories-people-1-offset-x: -164px;
$stories-people-1-offset-y: -704px;
$stories-people-1-width: 59px;
$stories-people-1-height: 95px;
$stories-people-1-total-width: 989px;
$stories-people-1-total-height: 935px;
$stories-people-1-image: '../images/sprite.png';
$stories-people-1: (164px, 704px, -164px, -704px, 59px, 95px, 989px, 935px, '../images/sprite.png', 'stories-people-1', );
$stories-people-2-name: 'stories-people-2';
$stories-people-2-x: 470px;
$stories-people-2-y: 577px;
$stories-people-2-offset-x: -470px;
$stories-people-2-offset-y: -577px;
$stories-people-2-width: 69px;
$stories-people-2-height: 80px;
$stories-people-2-total-width: 989px;
$stories-people-2-total-height: 935px;
$stories-people-2-image: '../images/sprite.png';
$stories-people-2: (470px, 577px, -470px, -577px, 69px, 80px, 989px, 935px, '../images/sprite.png', 'stories-people-2', );
$stories-people-3-name: 'stories-people-3';
$stories-people-3-x: 223px;
$stories-people-3-y: 704px;
$stories-people-3-offset-x: -223px;
$stories-people-3-offset-y: -704px;
$stories-people-3-width: 59px;
$stories-people-3-height: 91px;
$stories-people-3-total-width: 989px;
$stories-people-3-total-height: 935px;
$stories-people-3-image: '../images/sprite.png';
$stories-people-3: (223px, 704px, -223px, -704px, 59px, 91px, 989px, 935px, '../images/sprite.png', 'stories-people-3', );
$stories-people-4-name: 'stories-people-4';
$stories-people-4-x: 282px;
$stories-people-4-y: 704px;
$stories-people-4-offset-x: -282px;
$stories-people-4-offset-y: -704px;
$stories-people-4-width: 60px;
$stories-people-4-height: 88px;
$stories-people-4-total-width: 989px;
$stories-people-4-total-height: 935px;
$stories-people-4-image: '../images/sprite.png';
$stories-people-4: (282px, 704px, -282px, -704px, 60px, 88px, 989px, 935px, '../images/sprite.png', 'stories-people-4', );
$stories-people-5-name: 'stories-people-5';
$stories-people-5-x: 69px;
$stories-people-5-y: 835px;
$stories-people-5-offset-x: -69px;
$stories-people-5-offset-y: -835px;
$stories-people-5-width: 58px;
$stories-people-5-height: 92px;
$stories-people-5-total-width: 989px;
$stories-people-5-total-height: 935px;
$stories-people-5-image: '../images/sprite.png';
$stories-people-5: (69px, 835px, -69px, -835px, 58px, 92px, 989px, 935px, '../images/sprite.png', 'stories-people-5', );
$stories-people-6-name: 'stories-people-6';
$stories-people-6-x: 400px;
$stories-people-6-y: 577px;
$stories-people-6-offset-x: -400px;
$stories-people-6-offset-y: -577px;
$stories-people-6-width: 70px;
$stories-people-6-height: 88px;
$stories-people-6-total-width: 989px;
$stories-people-6-total-height: 935px;
$stories-people-6-image: '../images/sprite.png';
$stories-people-6: (400px, 577px, -400px, -577px, 70px, 88px, 989px, 935px, '../images/sprite.png', 'stories-people-6', );
$turbo-1-name: 'turbo-1';
$turbo-1-x: 482px;
$turbo-1-y: 452px;
$turbo-1-offset-x: -482px;
$turbo-1-offset-y: -452px;
$turbo-1-width: 124px;
$turbo-1-height: 105px;
$turbo-1-total-width: 989px;
$turbo-1-total-height: 935px;
$turbo-1-image: '../images/sprite.png';
$turbo-1: (482px, 452px, -482px, -452px, 124px, 105px, 989px, 935px, '../images/sprite.png', 'turbo-1', );
$turbo-2-name: 'turbo-2';
$turbo-2-x: 730px;
$turbo-2-y: 452px;
$turbo-2-offset-x: -730px;
$turbo-2-offset-y: -452px;
$turbo-2-width: 114px;
$turbo-2-height: 90px;
$turbo-2-total-width: 989px;
$turbo-2-total-height: 935px;
$turbo-2-image: '../images/sprite.png';
$turbo-2: (730px, 452px, -730px, -452px, 114px, 90px, 989px, 935px, '../images/sprite.png', 'turbo-2', );
$turbo-3-name: 'turbo-3';
$turbo-3-x: 524px;
$turbo-3-y: 328px;
$turbo-3-offset-x: -524px;
$turbo-3-offset-y: -328px;
$turbo-3-width: 156px;
$turbo-3-height: 79px;
$turbo-3-total-width: 989px;
$turbo-3-total-height: 935px;
$turbo-3-image: '../images/sprite.png';
$turbo-3: (524px, 328px, -524px, -328px, 156px, 79px, 989px, 935px, '../images/sprite.png', 'turbo-3', );
$turbo-4-name: 'turbo-4';
$turbo-4-x: 380px;
$turbo-4-y: 328px;
$turbo-4-offset-x: -380px;
$turbo-4-offset-y: -328px;
$turbo-4-width: 144px;
$turbo-4-height: 95px;
$turbo-4-total-width: 989px;
$turbo-4-total-height: 935px;
$turbo-4-image: '../images/sprite.png';
$turbo-4: (380px, 328px, -380px, -328px, 144px, 95px, 989px, 935px, '../images/sprite.png', 'turbo-4', );
$turbo-5-name: 'turbo-5';
$turbo-5-x: 606px;
$turbo-5-y: 452px;
$turbo-5-offset-x: -606px;
$turbo-5-offset-y: -452px;
$turbo-5-width: 124px;
$turbo-5-height: 91px;
$turbo-5-total-width: 989px;
$turbo-5-total-height: 935px;
$turbo-5-image: '../images/sprite.png';
$turbo-5: (606px, 452px, -606px, -452px, 124px, 91px, 989px, 935px, '../images/sprite.png', 'turbo-5', );
$yandex-logo-name: 'yandex-logo';
$yandex-logo-x: 0px;
$yandex-logo-y: 131px;
$yandex-logo-offset-x: 0px;
$yandex-logo-offset-y: -131px;
$yandex-logo-width: 414px;
$yandex-logo-height: 74px;
$yandex-logo-total-width: 989px;
$yandex-logo-total-height: 935px;
$yandex-logo-image: '../images/sprite.png';
$yandex-logo: (0px, 131px, 0px, -131px, 414px, 74px, 989px, 935px, '../images/sprite.png', 'yandex-logo', );
$spritesheet-width: 989px;
$spritesheet-height: 935px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($close, $danger-1, $danger-2, $danger-3, $danger-4, $danger-5, $danger-6, $gears, $logo-mosreg, $logo, $more-link-1, $more-link-2, $more-link-3, $stories-buble-1-hover, $stories-buble-1, $stories-buble-2-hover, $stories-buble-2, $stories-buble-3-hover, $stories-buble-3, $stories-buble-4-hover, $stories-buble-4, $stories-buble-5-hover, $stories-buble-5, $stories-buble-6-hover, $stories-buble-6, $stories-people-1, $stories-people-2, $stories-people-3, $stories-people-4, $stories-people-5, $stories-people-6, $turbo-1, $turbo-2, $turbo-3, $turbo-4, $turbo-5, $yandex-logo, );
$spritesheet: (989px, 935px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
