$danger-1-name: 'danger-1';
$danger-1-x: 311px;
$danger-1-y: 405px;
$danger-1-offset-x: -311px;
$danger-1-offset-y: -405px;
$danger-1-width: 89px;
$danger-1-height: 93px;
$danger-1-total-width: 989px;
$danger-1-total-height: 663px;
$danger-1-image: '../images/sprite.png';
$danger-1: (311px, 405px, -311px, -405px, 89px, 93px, 989px, 663px, '../images/sprite.png', 'danger-1', );
$danger-2-name: 'danger-2';
$danger-2-x: 99px;
$danger-2-y: 405px;
$danger-2-offset-x: -99px;
$danger-2-offset-y: -405px;
$danger-2-width: 110px;
$danger-2-height: 114px;
$danger-2-total-width: 989px;
$danger-2-total-height: 663px;
$danger-2-image: '../images/sprite.png';
$danger-2: (99px, 405px, -99px, -405px, 110px, 114px, 989px, 663px, '../images/sprite.png', 'danger-2', );
$danger-3-name: 'danger-3';
$danger-3-x: 209px;
$danger-3-y: 405px;
$danger-3-offset-x: -209px;
$danger-3-offset-y: -405px;
$danger-3-width: 102px;
$danger-3-height: 94px;
$danger-3-total-width: 989px;
$danger-3-total-height: 663px;
$danger-3-image: '../images/sprite.png';
$danger-3: (209px, 405px, -209px, -405px, 102px, 94px, 989px, 663px, '../images/sprite.png', 'danger-3', );
$danger-4-name: 'danger-4';
$danger-4-x: 0px;
$danger-4-y: 532px;
$danger-4-offset-x: 0px;
$danger-4-offset-y: -532px;
$danger-4-width: 72px;
$danger-4-height: 131px;
$danger-4-total-width: 989px;
$danger-4-total-height: 663px;
$danger-4-image: '../images/sprite.png';
$danger-4: (0px, 532px, 0px, -532px, 72px, 131px, 989px, 663px, '../images/sprite.png', 'danger-4', );
$danger-5-name: 'danger-5';
$danger-5-x: 0px;
$danger-5-y: 405px;
$danger-5-offset-x: 0px;
$danger-5-offset-y: -405px;
$danger-5-width: 99px;
$danger-5-height: 127px;
$danger-5-total-width: 989px;
$danger-5-total-height: 663px;
$danger-5-image: '../images/sprite.png';
$danger-5: (0px, 405px, 0px, -405px, 99px, 127px, 989px, 663px, '../images/sprite.png', 'danger-5', );
$danger-6-name: 'danger-6';
$danger-6-x: 0px;
$danger-6-y: 0px;
$danger-6-offset-x: 0px;
$danger-6-offset-y: 0px;
$danger-6-width: 989px;
$danger-6-height: 131px;
$danger-6-total-width: 989px;
$danger-6-total-height: 663px;
$danger-6-image: '../images/sprite.png';
$danger-6: (0px, 0px, 0px, 0px, 989px, 131px, 989px, 663px, '../images/sprite.png', 'danger-6', );
$gears-name: 'gears';
$gears-x: 548px;
$gears-y: 131px;
$gears-offset-x: -548px;
$gears-offset-y: -131px;
$gears-width: 45px;
$gears-height: 45px;
$gears-total-width: 989px;
$gears-total-height: 663px;
$gears-image: '../images/sprite.png';
$gears: (548px, 131px, -548px, -131px, 45px, 45px, 989px, 663px, '../images/sprite.png', 'gears', );
$logo-name: 'logo';
$logo-x: 414px;
$logo-y: 131px;
$logo-offset-x: -414px;
$logo-offset-y: -131px;
$logo-width: 134px;
$logo-height: 47px;
$logo-total-width: 989px;
$logo-total-height: 663px;
$logo-image: '../images/sprite.png';
$logo: (414px, 131px, -414px, -131px, 134px, 47px, 989px, 663px, '../images/sprite.png', 'logo', );
$more-link-1-name: 'more-link-1';
$more-link-1-x: 72px;
$more-link-1-y: 532px;
$more-link-1-offset-x: -72px;
$more-link-1-offset-y: -532px;
$more-link-1-width: 69px;
$more-link-1-height: 100px;
$more-link-1-total-width: 989px;
$more-link-1-total-height: 663px;
$more-link-1-image: '../images/sprite.png';
$more-link-1: (72px, 532px, -72px, -532px, 69px, 100px, 989px, 663px, '../images/sprite.png', 'more-link-1', );
$more-link-2-name: 'more-link-2';
$more-link-2-x: 0px;
$more-link-2-y: 300px;
$more-link-2-offset-x: 0px;
$more-link-2-offset-y: -300px;
$more-link-2-width: 124px;
$more-link-2-height: 105px;
$more-link-2-total-width: 989px;
$more-link-2-total-height: 663px;
$more-link-2-image: '../images/sprite.png';
$more-link-2: (0px, 300px, 0px, -300px, 124px, 105px, 989px, 663px, '../images/sprite.png', 'more-link-2', );
$more-link-3-name: 'more-link-3';
$more-link-3-x: 486px;
$more-link-3-y: 300px;
$more-link-3-offset-x: -486px;
$more-link-3-offset-y: -300px;
$more-link-3-width: 111px;
$more-link-3-height: 89px;
$more-link-3-total-width: 989px;
$more-link-3-total-height: 663px;
$more-link-3-image: '../images/sprite.png';
$more-link-3: (486px, 300px, -486px, -300px, 111px, 89px, 989px, 663px, '../images/sprite.png', 'more-link-3', );
$turbo-1-name: 'turbo-1';
$turbo-1-x: 124px;
$turbo-1-y: 300px;
$turbo-1-offset-x: -124px;
$turbo-1-offset-y: -300px;
$turbo-1-width: 124px;
$turbo-1-height: 105px;
$turbo-1-total-width: 989px;
$turbo-1-total-height: 663px;
$turbo-1-image: '../images/sprite.png';
$turbo-1: (124px, 300px, -124px, -300px, 124px, 105px, 989px, 663px, '../images/sprite.png', 'turbo-1', );
$turbo-2-name: 'turbo-2';
$turbo-2-x: 372px;
$turbo-2-y: 300px;
$turbo-2-offset-x: -372px;
$turbo-2-offset-y: -300px;
$turbo-2-width: 114px;
$turbo-2-height: 90px;
$turbo-2-total-width: 989px;
$turbo-2-total-height: 663px;
$turbo-2-image: '../images/sprite.png';
$turbo-2: (372px, 300px, -372px, -300px, 114px, 90px, 989px, 663px, '../images/sprite.png', 'turbo-2', );
$turbo-3-name: 'turbo-3';
$turbo-3-x: 144px;
$turbo-3-y: 205px;
$turbo-3-offset-x: -144px;
$turbo-3-offset-y: -205px;
$turbo-3-width: 156px;
$turbo-3-height: 79px;
$turbo-3-total-width: 989px;
$turbo-3-total-height: 663px;
$turbo-3-image: '../images/sprite.png';
$turbo-3: (144px, 205px, -144px, -205px, 156px, 79px, 989px, 663px, '../images/sprite.png', 'turbo-3', );
$turbo-4-name: 'turbo-4';
$turbo-4-x: 0px;
$turbo-4-y: 205px;
$turbo-4-offset-x: 0px;
$turbo-4-offset-y: -205px;
$turbo-4-width: 144px;
$turbo-4-height: 95px;
$turbo-4-total-width: 989px;
$turbo-4-total-height: 663px;
$turbo-4-image: '../images/sprite.png';
$turbo-4: (0px, 205px, 0px, -205px, 144px, 95px, 989px, 663px, '../images/sprite.png', 'turbo-4', );
$turbo-5-name: 'turbo-5';
$turbo-5-x: 248px;
$turbo-5-y: 300px;
$turbo-5-offset-x: -248px;
$turbo-5-offset-y: -300px;
$turbo-5-width: 124px;
$turbo-5-height: 91px;
$turbo-5-total-width: 989px;
$turbo-5-total-height: 663px;
$turbo-5-image: '../images/sprite.png';
$turbo-5: (248px, 300px, -248px, -300px, 124px, 91px, 989px, 663px, '../images/sprite.png', 'turbo-5', );
$yandex-logo-name: 'yandex-logo';
$yandex-logo-x: 0px;
$yandex-logo-y: 131px;
$yandex-logo-offset-x: 0px;
$yandex-logo-offset-y: -131px;
$yandex-logo-width: 414px;
$yandex-logo-height: 74px;
$yandex-logo-total-width: 989px;
$yandex-logo-total-height: 663px;
$yandex-logo-image: '../images/sprite.png';
$yandex-logo: (0px, 131px, 0px, -131px, 414px, 74px, 989px, 663px, '../images/sprite.png', 'yandex-logo', );
$spritesheet-width: 989px;
$spritesheet-height: 663px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($danger-1, $danger-2, $danger-3, $danger-4, $danger-5, $danger-6, $gears, $logo, $more-link-1, $more-link-2, $more-link-3, $turbo-1, $turbo-2, $turbo-3, $turbo-4, $turbo-5, $yandex-logo, );
$spritesheet: (989px, 663px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
