@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* ==========================================================================
* Кнопки
* ========================================================================== */
.yab-button {
  display: inline-block;
  border: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 0;
  -webkit-transition: background .3s;
  transition: background .3s;
  line-height: 1;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
}

.yab-button--color {
  background: #000;
  color: #fff;
}

.yab-button--color:hover {
  background: #0d0d0d;
}

.yab-button--color:active {
  background: black;
}

.yab-button--download {
  text-transform: uppercase;
  background: #ffcc00;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 2px 0 #000;
  padding: 10px 64px;
}

.yab-button--download:hover {
  background: #ffd633;
}

.yab-button--download:active {
  background: #e6b800;
  box-shadow: none;
  position: relative;
  top: 2px;
}

.yab-button--m {
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 15px 8px;
}

.yab-button--block {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* ==========================================================================
 * Global
 * ========================================================================== */
html {
  min-width: 1000px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.link {
  border-bottom: 1px solid;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.link:hover {
  border-color: transparent;
}

.inverselink {
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.inverselink:hover {
  border-color: currentColor;
}

p,
span {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NkAAIAAAoAAggA9GkAAAAASUVORK5CYII=);
}

p {
  margin: 0 0 1.5em;
}

p:last-child {
  margin: 0;
}

strong {
  font-weight: 600;
}

/* ==========================================================================
 * Layout
 * ========================================================================== */
.yab-container {
  overflow: hidden;
  position: relative;
  padding: 70px 0 0;
}

.wrap {
  *zoom: 1;
  margin: auto;
  padding: 0 0px;
  width: 990px;
}

.wrap:before, .wrap:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.wrap:after {
  clear: both;
}

/* ==========================================================================
 * Main
 * ========================================================================== */
.yab-text {
  font-size: 18px;
  line-height: 1.5;
}

/* ==========================================================================
 * yab-header
 * ========================================================================== */
.yab-header {
  height: 70px;
  padding: 1px 0 0;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.yab-header__logo-placeholder {
  margin: 0 50px 0 -4px;
  float: left;
}

.yab-header__logo {
  display: inline-block;
  text-indent: -9999px;
  background-image: url(../images/sprite.png);
  background-position: -414px -131px;
  width: 134px;
  height: 47px;
}

.yab-header__menu {
  margin: 25px 0 0;
  float: left;
}

/* ==========================================================================
 * menu
 * ========================================================================== */
.yab-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.yab-menu__item {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 25px;
}

.yab-menu__item:first-child {
  margin: 0;
}

.yab-menu__href {
  color: #0273b2;
}

.yab-menu__href--active {
  color: #000;
}

/* ==========================================================================
 * yab-promo
 * ========================================================================== */
.yab-promo {
  background: #ffcc00;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 45px 0 62px;
}

.yab-promo:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250%;
  background: -webkit-radial-gradient(bottom center circle, #ffdb00 0%, #ffcc00 100%);
  background: radial-gradient(circle at bottom center, #ffdb00 0%, #ffcc00 100%);
}

.yab-promo__wrap {
  position: relative;
}

.yab-promo__logo-placeholder {
  margin: 0 0 13px;
}

.yab-promo__logo {
  display: inline-block;
  text-indent: -9999px;
  background-image: url(../images/sprite.png);
  background-position: 0px -131px;
  width: 414px;
  height: 74px;
}

.yab-promo__text {
  font-size: 24px;
  margin: 0 0 35px;
}

/* ==========================================================================
 * yab-content
 * ========================================================================== */
.yab-content {
  padding: 74px 0 0;
}

.yab-content__title {
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 44px;
}

.yab-content__block {
  margin: 0 0 50px;
}

.yab-content__info {
  margin: 0 0 50px;
}

.yab-content-info {
  border: 1px solid #dddddd;
  border-left: 4px solid #ffd800;
  padding: 50px 80px 43px 40px;
}

.yab-content-info__title {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
}

.yab-content-info__text {
  margin: 0 0 24px;
}

.yab-content-info__gears {
  padding: 0 0 0 54px;
  position: relative;
  font-size: 16px;
  line-height: 1.375;
  font-style: italic;
}

.yab-content-info__gears:before {
  content: '';
  display: block;
  background-image: url(../images/sprite.png);
  background-position: -548px -131px;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -3px;
  left: 0;
}

/* ==========================================================================
 * yab-turbo
 * ========================================================================== */
.yab-turbo {
  background: #ffd800;
  padding: 46px 10px 56px;
}

.yab-turbo__title {
  text-align: center;
  margin: 0 0 49px;
  font-weight: 600;
  font-size: 24px;
}

.yab-turbo__list {
  text-align: center;
  margin: 0 -1.2% 0 0;
}

.yab-turbo__item {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  padding: 124px 0 0;
  position: relative;
  font-size: 14px;
  line-height: 1.14286;
}

.yab-turbo__item:before {
  content: '';
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.yab-turbo__item--1:before {
  background-image: url(../images/sprite.png);
  background-position: -124px -300px;
  width: 124px;
  height: 105px;
  margin-top: 0px;
}

.yab-turbo__item--2:before {
  background-image: url(../images/sprite.png);
  background-position: -372px -300px;
  width: 114px;
  height: 90px;
  margin-top: 11px;
}

.yab-turbo__item--3:before {
  background-image: url(../images/sprite.png);
  background-position: -144px -205px;
  width: 156px;
  height: 79px;
  margin-top: 20px;
}

.yab-turbo__item--4:before {
  background-image: url(../images/sprite.png);
  background-position: 0px -205px;
  width: 144px;
  height: 95px;
  margin-top: 5px;
}

.yab-turbo__item--5:before {
  background-image: url(../images/sprite.png);
  background-position: -248px -300px;
  width: 124px;
  height: 91px;
  margin-top: 6px;
}

/* ==========================================================================
 * yab-danger
 * ========================================================================== */
.yab-danger__item {
  margin: 0 0 40px;
}

.yab-danger__item:last-child {
  margin-bottom: 0;
}

.yab-danger-item {
  border: 1px solid #dddddd;
  padding: 27px 37px 24px 140px;
  position: relative;
}

.yab-danger-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.yab-danger-item--wifi:before {
  background-image: url(../images/sprite.png);
  background-position: -311px -405px;
  width: 89px;
  height: 93px;
  margin: 29px 0 0 25px;
}

.yab-danger-item--virus:before {
  background-image: url(../images/sprite.png);
  background-position: -99px -405px;
  width: 110px;
  height: 114px;
  margin: 0px 0 0 14px;
}

.yab-danger-item--redirect:before {
  background-image: url(../images/sprite.png);
  background-position: -209px -405px;
  width: 102px;
  height: 94px;
  margin: 29px 0 0 19px;
}

.yab-danger-item--sms:before {
  background-image: url(../images/sprite.png);
  background-position: 0px -532px;
  width: 72px;
  height: 131px;
  margin: 29px 0 0 36px;
}

.yab-danger-item--fakes:before {
  background-image: url(../images/sprite.png);
  background-position: 0px -405px;
  width: 99px;
  height: 127px;
  margin: 28px 0 0 22px;
}

.yab-danger-item--answers {
  border-top: 0;
  margin-top: 55px;
}

.yab-danger-item--answers:before {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 989px;
  height: 131px;
  margin: 0;
  top: -15px;
  right: -42px;
  left: auto;
}

.yab-danger-item__title {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 10px;
}

/* ==========================================================================
 * yab-more
 * ========================================================================== */
.yab-more {
  padding: 25px 0 65px;
}

.yab-more__title {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 23px;
  text-align: center;
}

.yab-more__list-placeholder {
  margin: 0 -10px;
}

.yab-more__list {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 0;
}

.yab-more__item {
  display: table-cell;
  border: 1px solid #000;
  width: 50%;
  height: 160px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.yab-more__href {
  display: block;
  height: 100%;
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  overflow: hidden;
}

.yab-more__href:before {
  content: '';
  display: block;
  width: 600px;
  height: 600px;
  background: #ffd800;
  border-radius: 50%;
  -webkit-transition: all .7s;
  transition: all .7s;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -300px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.yab-more__href:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.yab-more__href:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.yab-more__href--stories:after {
  background-image: url(../images/sprite.png);
  background-position: -72px -532px;
  width: 69px;
  height: 100px;
}

.yab-more__href--danger:after {
  background-image: url(../images/sprite.png);
  background-position: -486px -300px;
  width: 111px;
  height: 89px;
}

.yab-more__href--fast:after {
  background-image: url(../images/sprite.png);
  background-position: 0px -300px;
  width: 124px;
  height: 105px;
}

.yab-more__href-text {
  position: relative;
  display: inline-block;
  padding: 18px 0 10px;
}

/* ==========================================================================
 * yab-footer
 * ========================================================================== */
.yab-footer {
  text-align: center;
}

.yab-footer__wrap {
  border-top: 1px solid #dddddd;
  padding: 43px 0 70px;
}

.yab-footer__title {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 19px;
}

/* @media only screen and (min-width: 740px){
  @import "_tablet" ;
} 
*/
