<footer class="yab-footer">
			
	<div class="yab-footer__wrap wrap">
		
		<div class="yab-footer__title">
			@@if (activePage === 1) {
			С Яндекс Браузером интернет – самое безопасное место!
			}

			@@if (activePage === 2) {
			С Яндекс Браузером интернет – самое безопасное место!
			}

			@@if (activePage === 3) {
			В любой непонятной ситуации жми Турбо!
			}
			
		</div> <!-- /.yab-footer__title -->

		<div class="yab-footer__button-placeholder">
			
			<a href="http://ads.adfox.ru/222314/goLink?p1=bmiys&p2=v&p5=divbg&pr=[RANDOM]&puid1=&puid2=&puid3=&puid4=&puid5=&puid6=&puid7=&puid8=&puid9=&puid10=&puid11=&puid12=&puid13=&puid14=&puid15=&puid16=&puid17=" class="yab-button yab-button--download" id="bur-download-bottom">Скачать</a>

		</div> <!-- /.yab-footer__button-placeholder -->

	</div> <!-- .yab-footer__wrap .wrap -->

</footer>