<footer class="yab-footer">
			
	<div class="yab-footer__wrap wrap">
		
		<div class="yab-footer__title">
			@@if (activePage === 1) {
			С Яндекс Браузером интернет – самое безопасное место!
			}

			@@if (activePage === 2) {
			С Яндекс Браузером интернет – самое безопасное место!
			}

			@@if (activePage === 3) {
			В любой непонятной ситуации жми Турбо!
			}
			
		</div> <!-- /.yab-footer__title -->

		<div class="yab-footer__button-placeholder">
			
			<a href="@@link2" class="yab-button yab-button--download">Скачать</a>

		</div> <!-- /.yab-footer__button-placeholder -->

	</div> <!-- .yab-footer__wrap .wrap -->

</footer>