<header class="yab-header">
	
	<div class="yab-header__wrap wrap">
		
		<div class="yab-header__logo-placeholder">
			
			<a href="http://school.mosreg.ru" class="yab-header__logo yab-header__logo--mosreg">Дневник.ру</a>

		</div> <!-- /.yab-header__logo-placeholder -->

		<div class="yab-header__menu yab-menu">

			<ul class="yab-menu__list">
			    
			    <li class="yab-menu__item">
			
					<a href="https://ad.school.mosreg.ru/promo/yandex-browser-danger" class="yab-menu__href @@if (activePage === 1) { yab-menu__href--active } inverselink">Где может поджидать опасность?</a>
			
			    </li> <!-- /.yab-menu__item -->
			    
			    <li class="yab-menu__item">
			
					<a href="https://ad.school.mosreg.ru/promo/yandex-browser-stories" class="yab-menu__href @@if (activePage === 2) { yab-menu__href--active } inverselink">Истории из жизни</a>
			
			    </li> <!-- /.yab-menu__item -->
			    
			    <li class="yab-menu__item">
			
					<a href="https://ad.school.mosreg.ru/promo/yandex-browser-fast" class="yab-menu__href @@if (activePage === 3) { yab-menu__href--active } inverselink">Как интернет сделать быстрым</a>
			
			    </li> <!-- /.yab-menu__item -->
			
			</ul> <!-- /.yab-menu__list -->
			
		</div> <!-- /.yab-header__menu -->

	</div> <!-- /.yab-hwader__wrap wrap -->

</header> <!-- /.yab-header -->