<section class="yab-more">
			
	<div class="yab-more__wrap wrap">
		
		<h4 class="yab-more__title">
			Еще больше интересных статей:
		</h4> <!-- /.yab-more__title -->

		<div class="yab-more__list-placeholder">

			<ul class="yab-more__list">

				@@if (activePage === 1 || activePage === 3) {
			    
			    <li class="yab-more__item">
			
					<a href="http://ad.dnevnik.ru/promo/yandex-browser-stories" class="yab-more__href yab-more__href--stories">
						<span class="yab-more__href-text">Истории из жизни</span>
					</a>
			
			    </li> <!-- /.yab-more__item -->

				}

				@@if (activePage === 1 || activePage === 2) {
			    
			    <li class="yab-more__item">
			
					<a href="http://ad.dnevnik.ru/promo/yandex-browser-fast" class="yab-more__href yab-more__href--fast">
						<span class="yab-more__href-text">Как интернет сделать быстрым</span>
					</a>
			
			    </li> <!-- /.yab-more__item -->

				}

				@@if (activePage === 2 || activePage === 3) {
			    
			    <li class="yab-more__item">
			
					<a href="http://ad.dnevnik.ru/promo/yandex-browser-danger" class="yab-more__href yab-more__href--danger">
						<span class="yab-more__href-text">Где может поджидать опасность</span>
					</a>
			
			    </li> <!-- /.yab-more__item -->

				}
			
			</ul> <!-- /.yab-more__list -->

		</div> <!-- /.yab-more__lost-placeholder -->

	</div> <!-- .yab-more__wrap .wrap -->

</section>